.App {
  text-align: center;
  margin: 0 auto;
  padding: 0 100px;
}

.note {
  flex: 1 0 32.333%;
  flex-wrap: wrap;
  max-width: 100%;
  margin-bottom: 15px;
  padding: 15px;
  box-shadow: 0 0 2.5px 0 rgba(0, 0, 0, 0.1);
  text-overflow: wrap;
  position: relative;
}

.note_title {
  font-weight: bold;
  padding-bottom: 20px;
}

.create_button {
  box-sizing: border-box;
  margin: 15px;
}

.delete_button {
  color: red;
  margin-top: 10px;
}

input {
  padding: 5px 0;
  border: 1px solid #ccc;
  width: 100%;
  text-indent: 5px;
  margin: 10px 0 10px 0;
}
